body {
    margin: 0;
    padding: 0;
    background-color: #000000; 
    overflow-x: hidden; 
}

.first-page-section {
    width: 100vw;
    height: 100vh;
    position: relative; 
}

.slate-container {
    position: absolute; 
    top: 0; 
    right: 0;
    
    width: 1200px; 
    height: 150px; 
    
    margin-right: -50px;
}

.diamond-wrapper {
    position: absolute; 
    width: 120px;
    height: 80px;
    
    transform: skewX(30deg); 

    background-color: #ffffff; 
    border: 3px solid #000; 
}

.item-1 {
    top: 25px;
    left: 0px; 
}

.item-2 {
    top: 25px;
    left: 150px;
}

.item-3 {
    top: 25px;
    left: 300px;
}

.item-4 {
    top: 25px;
    left: 450px;
}

.item-5 {
    top: 25px;
    left: 600px;
}

.item-6 {
    top: 25px;
    left: 750px;
}

.item-7 {
    top: 25px;
    left: 900px;
}

.item-8 {
    top: 25px;
    left: 1050px;
}

.top-title {
    position: absolute;
    top: 0px;
    left: 55;
    color: #ffffff;
    font-size: 90px;
}

.top-image {
    position: absolute;
    top: 145px;
    left: 75;

    width: 1000px; 
    height: 990px;
}

.top-image img {
    width: 137%;
    height: 66%;
}

.middle-box {
    position: absolute; 
    width: 260px;
    height: 680px;

    background-color: #000000; 
    top: 145px;
    left: 290px;
    z-index: 5;
}

.middle-title {
    position: absolute;
    top: 135px;
    left: 300;
    color: #ffffff;
    font-size: 57px;
    z-index: 10;
}

.middle-text {
    position: absolute;
    top: 460px;
    left: 310;
    color: #ffffff;
    font-size: 22px;
    z-index: 10;  
    font-style: italic;
    font-weight: 300;
}

.second-page-section {
    position: relative;
    padding-top: 100px;
    min-height: 500px;
}

.spring-image {
    position: absolute;
    top: 1000px;
    left: 0px;
    overflow: hidden;
    mask-image: 
        linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image:
        linear-gradient(to bottom, black 70%, transparent 100%);
}

.spring-title {
    position: absolute;
    top: 1707px;
    left: 105px;
    color: #ffffff;
    font-size: 55px;
}

.summer-image {
    position: absolute;
    top: 1148px;
    left: 380.2px;
    overflow: hidden;
    mask-image:
        linear-gradient(to top, black 70%, transparent 100%);
    -webkit-mask-image: 
        linear-gradient(to top, black 70%, transparent 100%);
}

.summer-title {
    position: absolute;
    top: 1030px;
    left: 460px;
    color: #ffffff;
    font-size: 55px;
}

.autumn-image {
    position: absolute;
    top: 1000px;
    right: 380.2px;
    overflow: hidden;
    mask-image: 
        linear-gradient(to bottom, black 70%, transparent 100%);
    -webkit-mask-image: 
        linear-gradient(to bottom, black 70%, transparent 100%);
}

.autumn-title {
    position: absolute;
    top: 1707px;
    right: 460px;
    color: #ffffff;
    font-size: 55px;
}

.winter-image {
    position: absolute;
    top: 1148px;
    right: 0px;
    overflow: hidden;
    mask-image:
        linear-gradient(to top, black 70%, transparent 100%);
    -webkit-mask-image:
        linear-gradient(to top, black 70%, transparent 100%);
}

.winter-title {
    position: absolute;
    top: 1030px;
    right: 105px;
    color: #ffffff;
    font-size: 55px;
}

.spring-image img,
.summer-image img,
.autumn-image img,
.winter-image img {
    width: 380.2px;  
    height: 680px;
    object-fit: cover;
}
